/* START GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  font-size: 16px;
  line-height: 1.6;
  color: #636363;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.bg-gradient {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 50%, #f55f8d 100%);
  background-size: 200%;
}
.bs-blktrans {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.sectionsign {
  font-size: 1.4rem;
  color: #f55f8d;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: none;
  border-radius: 30px;
  padding: 1.25rem 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 0.94rem;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  background-position: right;
}
h2 {
  font-size: 4.4rem;
  color: #262626;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}
/* END GLOBAL */

/* START HEADER */
header {
  width: 100%;
  margin: 40px 0;
  position: absolute;
  top: 0;
  left: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-button {
  display: flex;
  align-items: center;
}
.header__nav-button ul {
  margin-right: 50px;
}
.header__nav-button ul li {
  display: inline;
  margin-left: 30px;
}
.header__nav-button ul li a {
  position: relative;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.5s;
}
.header__nav-button ul li a i {
  font-size: 0.6rem;
  vertical-align: middle;
}
.header__nav-button ul li a:hover {
  color: #f55f8d;
}
.header__nav-button ul li a:hover span {
  animation: header__navigation 0.3s 1;
}
/* END HEADER */

/* START INTRO */
section.intro {
  background: url(../img/pic2.png);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 150px;
  overflow: hidden;
}
.intro__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro__container > div {
  width: 49%;
}
.intro__container .intro__left p:first-of-type {
  animation: intro 1s ease-out backwards;
}
.intro__container .intro__left h2 {
  animation: intro 1s ease-out 1s backwards;
}
.intro__container .intro__left p:nth-of-type(2) {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
  animation: intro 1s ease-out 2s backwards;
}
.intro__checklist {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  animation: intro 1s ease-out 3s backwards;
}
.intro__checklist i {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.2rem;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.intro__left button {
  margin-top: 1rem;
  animation: intro 1s ease-out 4s backwards;
}
.intro__right {
  text-align: right;
}
.intro__right img {
  animation: intro 1s ease-out 3s backwards;
}
/* END INTRO */

/* START SERVICE */
section.service {
  padding: 100px 0;
  background: url(../img/bg2.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
.service__list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.service__list .service__item {
  width: 31.5%;
  background: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  transition: 0.5s;
}
.service__list .service__item:hover {
  transform: translateY(-20px);
}
.service__list .service__item img {
  width: 70%;
}
.service__list .service__item h3 {
  font-size: 1.5rem;
  color: #000;
  margin: 1rem 0;
}
/* END SERVICE */

/* START ABOUT US */
.aboutus {
  background: url(../img/bg15.png);
  padding: 50px 0;
}
.aboutus .aboutus__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.aboutus__left {
  width: 60%;
  flex-shrink: 0;
  margin-left: -15%;
  animation-delay: 0.2s;
  animation-duration: 2s;
}
.aboutus__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
  position: relative;
}
.aboutus__right {
  width: 50%;
  animation-delay: 0.2s;
  animation-duration: 2s;
}
.aboutus__checklist {
  margin: 15px 0 25px 0;
}
.aboutus__checklist i {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #f55f8d;
  border-radius: 50%;
  margin-right: 0.4rem;
  text-align: center;
  color: #f55f8d;
  line-height: 1.6rem;
  vertical-align: middle;
}
.aboutus__checklist p {
  line-height: 2.5rem;
}
/* END ABOUT US */

/* START NUMBER */
.number {
  background: url(../img/bg14.png);
  padding: 80px 0;
  margin: 80px 0;
}
.number .number__container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1.1rem;
}
.number__container .number__item .number__icon {
  margin: 0 auto 0.5rem;
  width: 4.8rem;
  height: 4.8rem;
  line-height: 4.8rem;
  border-radius: 50%;
  font-size: 3rem;
  color: #fff;
}
.number .number__container .number__item p:first-of-type {
  color: #f55f8d;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}
/* END NUMBER */

/* START FEATURE */
.feature {
  background: url(../img/bg2.png);
}
.feature__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* start feature left */
.feature__left {
  width: 47%;
  flex-shrink: 0;
}
.feature__left__title {
  animation-duration: 2s;
}
.feature__list {
  position: relative;
}
.feature__list .feature__item-first {
  animation-delay: 0.5s;
  animation-duration: 2s;
}
.feature__list .feature__item-second {
  position: relative;
  left: 55px;
  animation-delay: 0.8s;
  animation-duration: 2s;
}
.feature__list .feature__item-third {
  animation-delay: 1s;
  animation-duration: 2s;
}
.feature__item {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 30px 30px 30px 0;
  margin-bottom: 30px;
}
.feature__item::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to right, #f55f8d, #f8ae56);
  opacity: 0;
  transition: 1s;
}
.feature__item .item__detail {
  z-index: 2;
}
.feature__item i {
  text-align: center;
  width: 24%;
  flex-shrink: 0;
  font-size: 5rem;
  line-height: 1;
  color: #f55f8d;
  z-index: 2;
  transition: 1s;
}
.feature__item .item__detail h3 {
  font-size: 1.5rem;
  color: #000;
  transition: 1s;
}
.feature__item .item__detail p {
  transition: 1s;
}
.feature .feature__left .feature__list .feature__item:hover::before {
  opacity: 1;
}
.feature .feature__left .feature__list .feature__item:hover h3,
.feature .feature__left .feature__list .feature__item:hover p,
.feature .feature__left .feature__list .feature__item:hover i {
  color: #fff;
}
/* end feature left */

/* start feature right */
.feature__right {
  width: 53%;
  margin-right: -60px;
}
.feature__right img {
  max-width: 100%;
  animation: feature__right 5s 0.5s infinite;
}
/* end feature right */
/* END FEATURE */

/* START PORTFOLIO */
.portfolio {
  padding-top: 100px;
  background: url(../img/bg17.png);
}
.portfolio__title {
  text-align: center;
}
.portfolio__list {
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 7fr 10fr;
  gap: 35px;
}
.portfolio__item {
  position: relative;
  overflow: hidden;
}
.portfolio__item::before {
  content: "";
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3)
  );
  height: 100%;
  width: 50%;
  transform: skewX(-25deg);
  position: absolute;
  top: 0;
  left: -85%;
  transition: 0.5s;
}
.portfolio__item:hover::before {
  left: 130%;
}
.portfolio__list .portfolio__item1 {
  grid-column: 1 / 3;
}
.portfolio__list .portfolio__item3,
.portfolio__list .portfolio__item4 {
  animation-delay: 1s;
}
.portfolio__list .portfolio__item5 {
  grid-column: 1 / 3;
  animation-delay: 1.7s;
}
.portfolio__list .portfolio__item6 {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
  animation-delay: 1.2s;
}
.portfolio__list .portfolio__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio__item .item__overlay {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px 30px 30px;
  opacity: 0;
  transition: 0.5s;
}
.portfolio__item .item__overlay .item__plus {
  border-radius: 10px;
  width: 3.12rem;
  height: 3.12rem;
  line-height: 3.12rem;
  font-size: 1.75rem;
  text-align: center;
  color: #fff;
  transform: translateX(20px) translateY(-20px);
  transition: 0.5s;
}
.portfolio__item .item__overlay .item__title {
  align-self: flex-end;
  color: #fff;
  transform: translateY(150px);
  transition: 0.5s;
}
.portfolio__item .item__overlay .item__title p:first-child {
  font-size: 1.38rem;
  font-weight: 700;
}
.portfolio__item .item__overlay .item__title p:last-child {
  opacity: 0.7;
}
.portfolio__item:hover .item__overlay {
  opacity: 1;
}
.portfolio__item:hover .item__overlay .item__plus {
  transform: translateX(0) translateY(0);
}
.portfolio__item:hover .item__overlay .item__title {
  transform: translateY(0);
}

/* END PORTFOLIO */

/* START PLAN */
.plan {
  padding-top: 100px;
  background: url(../img/bg2.png);
}
.plan__title {
  text-align: center;
}
.plan__list {
  display: flex;
  justify-content: space-between;
  color: #262626;
}
.plan__list .plan__item {
  width: 31.5%;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  padding: 35px 60px;
  position: relative;
  z-index: 1;
}
.plan__list .plan__item::after {
  content: "";
  background: url(../img/br.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
.plan__list .plan__item:hover::after {
  opacity: 1;
}
.plan__list .plan__item h3 {
  font-size: 2rem;
}
.plan__list .plan__item img {
  width: 50%;
}
.plan__list .plan__item p {
  font-size: 1.12rem;
  font-weight: 700;
  border-bottom: 1px solid #e1e1f0;
}
.plan__list .plan__item span {
  color: #f8ae56;
  font-size: 3.12rem;
}
.plan__list .plan__item ul {
  padding: 0.7rem 0;
}
.plan__list .plan__item li {
  text-align: left;
  margin: 0.7rem 0;
  font-size: 1.1rem;
}
.plan__list .plan__item li i {
  background: #feeff3;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: 50%;
  margin-right: 1rem;
  text-align: center;
  color: #f55f8d;
  font-size: 0.75rem;
  vertical-align: middle;
}
/* END PLAN */

/* START TESTIMONIAL */
.testimonial {
  padding-top: 100px;
  background: url(../img/bg17.png);
  text-align: center;
}
.testimonial__thumb {
  position: relative;
  width: 300px;
  height: 180px;
  margin: 0 auto;
}
.testimonial__thumb::before {
  content: "";
  height: 100%;
  width: 30px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  position: absolute;
  left: 0;
  z-index: 2;
}
.testimonial__thumb::after {
  content: "";
  height: 100%;
  width: 30px;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.testimonial__thumb .swiper-slide .testimonial__pic {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial__thumb .swiper-slide .testimonial__pic::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  background: #f55f8d;
  opacity: 0;
}
.testimonial__thumb .swiper-slide .testimonial__pic::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: -55px;
  background: #f55f8d;
  opacity: 0;
}
.testimonial__thumb .swiper-slide .testimonial__pic img {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 50%;
  background: #f55f8d;
  z-index: 2;
  transform: translateY(50px);
}
.testimonial__thumb .swiper-slide .testimonial__pic .testimonial__v-shape {
  width: 50px;
  height: 35px;
  background: #f55f8d;
  position: relative;
  bottom: 8px;
  z-index: 1;
  transform: translateY(50px);
  opacity: 0;
}
.testimonial__thumb
  .swiper-slide
  .testimonial__pic
  .testimonial__v-shape::after {
  content: "";
  width: 105%;
  height: 105%;
  background: url(../img/pattern12.png);
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
/* .testimonial__thumb .swiper-slide-thumb-active .testimonial__pic::before,
.testimonial__thumb .swiper-slide-thumb-active .testimonial__pic::after,
.testimonial__thumb .swiper-slide-thumb-active .testimonial__pic img,
.testimonial__thumb
  .swiper-slide-thumb-active
  .testimonial__pic
  .testimonial__v-shape,
.testimonial__thumb
  .swiper-slide-thumb-active
  .testimonial__pic
  .testimonial__v-shape::after {
  transform: translateY(0);
  opacity: 1;
  transition: 1s;
} */
.testimonial__thumb .swiper-slide-active .testimonial__pic::before,
.testimonial__thumb .swiper-slide-active .testimonial__pic::after,
.testimonial__thumb .swiper-slide-active .testimonial__pic img,
.testimonial__thumb
  .swiper-slide-active
  .testimonial__pic
  .testimonial__v-shape,
.testimonial__thumb
  .swiper-slide-active
  .testimonial__pic
  .testimonial__v-shape::after {
  transform: translateY(0);
  opacity: 1;
  transition: 1s;
}
.testimonial__comment .testimonial__detail {
  background: #fff;
  position: relative;
  max-width: 770px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.testimonial__comment .testimonial__detail p:first-of-type {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 0.3rem;
}
.testimonial__comment .testimonial__detail p:nth-of-type(2) {
  font-size: 1.3rem;
  color: #f55f8d;
  font-style: italic;
  margin-bottom: 2.2rem;
}
.testimonial__comment .testimonial__detail p:last-of-type {
  font-size: 1.3rem;
  font-style: italic;
}
.testimonial__comment .testimonial__detail i {
  font-size: 4.38rem;
  color: #f55f8d;
  transform: rotate(180deg);
  position: absolute;
  top: 10px;
  left: 30px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  bottom: auto;
  margin-top: 20px;
}
.swiper-pagination-bullet-active {
  background: #f55f8d;
}
/* END TESTIMONIAL */

/* START BLOG */
.blog {
  padding: 100px 0 50px;
  background: url(../img/bg2.png);
}
.blog__title {
  text-align: center;
}
.blog__item-container {
  background: rgba(245, 95, 141, 0.1);
  border-radius: 10px;
}
.blog__item-container .blog__item-top {
  position: relative;
}
.blog__item-container .blog__item-top img {
  width: 100%;
  border-radius: 10px;
}
.blog__item-container .blog__item-top p {
  padding: 0.63rem 1.25rem;
  border-radius: 10px;
  color: #fff;
  font-size: 0.88rem;
  position: absolute;
  bottom: -13px;
  left: 16px;
}
.blog__item-container .blog__item-mid {
  padding: 30px 15px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__item-container .blog__item-mid p:first-child {
  color: #262626;
  font-size: 1.5rem;
  font-weight: 700;
}
.blog__item-container .blog__item-bottom {
  display: flex;
  padding: 15px;
}
.blog__item-container .blog__item-bottom p {
  font-size: 0.88rem;
  margin-right: 1rem;
}
.blog__item-container .blog__item-bottom span {
  color: #f55f8d;
}
.blog__item-container .blog__item-bottom i {
  font-size: 1.38rem;
  vertical-align: middle;
}
/* END BLOG */

/* START FOOTER */
footer {
  color: white;
  background: rgb(14, 27, 31);
  position: relative;
}
footer::before {
  content: "";
  background: url(../img/pattern2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
footer::after {
  content: "";
  background: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* start footer newsletter */
.footer__newsletter {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  border-radius: 10px;
  position: relative;
  animation-duration: 2s;
}
.footer__newsletter::after {
  content: "";
  background: url(../img/pattern3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.footer__newsletter p {
  font-size: 1.75rem;
  color: #000;
  font-weight: 700;
  width: 50%;
  flex-shrink: 0;
  z-index: 1;
}
.footer__newsletter form {
  z-index: 1;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}
.footer__newsletter input {
  flex-grow: 1;
  height: 4rem;
  font-size: 1rem;
  padding-left: 1rem;
  border: 1px solid transparent;
  border-radius: 10px 0 0 10px;
  transition: 0.5s;
}
.footer__newsletter input:focus {
  outline: none;
  border: 1px solid #f55f8d;
}
.footer__newsletter input:hover {
  border: 1px solid #f55f8d;
}
.footer__newsletter button {
  font-size: 1.25rem;
  border-radius: 0 10px 10px 0;
  height: 4rem;
}
.footer__newsletter button:hover i {
  animation: footer__newsletter__button 0.5s;
}
/* end footer newsletter */

/* start footer bottom */
.footer__container .footer__bottom > * {
  z-index: 1;
}
.footer__container .footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px 80px 0;
  animation-duration: 2s;
  animation-delay: 1s;
}
/* start footer contact */
.footer__contact {
  width: 25%;
  flex-shrink: 0;
}
.footer__container .footer__contact .footer__contact__info {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.footer__contact__info i {
  background: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.5rem;
}
/* end footer contact */

/* start footer links */
.footer__link {
  display: flex;
  justify-content: space-between;
  width: 72%;
}
.footer__link .footer__item {
  position: relative;
}
.footer__link .footer__item h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.footer__link .footer__item h3::before {
  content: "";
  width: 1rem;
  height: 0.25rem;
  background: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 2.5rem;
}
.footer__link .footer__item h3::after {
  content: "";
  width: 2.8rem;
  height: 0.25rem;
  background: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 2px;
  position: absolute;
  left: 1.3rem;
  top: 2.5rem;
}
.footer__link .footer__item a {
  color: #636363;
  line-height: 2.5rem;
  transition: 0.5s;
}
.footer__link .footer__item a i {
  margin-right: 0.5rem;
  transition: 0s;
}
.footer__link .footer__item a:hover {
  color: #fff;
}
/* end footer links */
/* end footer bottom */
/* END FOOTER */

/* START COPYRIGHT */
.copyright {
  background: #1f343b;
  color: #fff;
  padding: 15px 0;
}
.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__container p span {
  color: #f55f8d;
}
.copyright__container a {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.5rem;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}
.copyright__container a:hover {
  background: #f55f8d;
}
/* END COPYRIGHT */

/* START BACK TO TOP */
.backtotop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #f55f8d;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  border-radius: 10px;
  width: 3.4rem;
  height: 3.4rem;
  line-height: 3.4rem;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  opacity: 0;
}
.cd-top--is-visible {
  /* back-to-top button visible */
  visibility: visible;
  opacity: 1;
}
/* END BACK TO TOP */

/* START GLOBAL BACKGROUND SETUP */
.bg-setup {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* END GLOBAL BACKGROUND SETUP */

/* START ANIMATION */
/* start header */
@keyframes header__navigation {
  0% {
    position: relative;
    bottom: 0;
  }
  50% {
    position: relative;
    bottom: -25px;
    opacity: 0;
  }
  51% {
    position: relative;
    bottom: 25px;
    opacity: 0;
  }
  100% {
    position: relative;
    bottom: 0;
    opacity: 1;
  }
}
/* end header */

/* start intro */
@keyframes intro {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* end intro */

/* start feature */
@keyframes feature__right {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
/* end feature */

/* start footer */
@keyframes footer__newsletter__button {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
    opacity: 0;
  }
  51% {
    transform: translateX(-25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* end footer */
/* END ANIMATION */
